body {
    background: url(https://images.unsplash.com/photo-1484887286537-04ee10ad2c2b?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=07bdebc695a73683e4ef00d12aeb96c3&auto=format&fit=crop&w=1386&q=80);
    background-size: cover;
    background-color: darkcyan;
}
.container {
    color: cadetblue;
}
#iz{
    background-color: cornflowerblue;
}
#main-content {
    max-width: 940px;
    padding: 2em 3em;
    margin: 0 auto 20px;
    background-color: #fff;
    border: 1px solid #e5e5e5;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}